/*---      nuevos           --*/

.ActualizarDatos>form>input,.VerificarDatos>form>input{
    min-height: 40px;
}

.Configuracion{
    width: 95%;
    position: relative;
    margin: 0 auto ;
}
.CorreoDenegado{
    cursor: not-allowed;
}

.ActualizarDatos{
    display: grid;
    grid-template-columns:100%;
    padding-bottom: 20px;
    border-bottom: 2px solid rgba(0,0,0,0.1);
}
.Foto1,.Foto2{
    text-align: center;
    position: relative;
    margin: 0 auto;
    height: 170px;
    width: 170px;
    overflow: hidden;
}
.Foto1{
    border: 3px solid rgb(56, 143, 194);
    overflow: hidden;
    border-radius: 50%;
}
.Foto1>img{
    margin: 0 auto;
    position: relative;  
}
.Subir{
    width: 35px;
    height: 35px;
    position: absolute;
    bottom: 10px;
    right: 30px;
    cursor: pointer;
}
.Subir>input{
    width: 35px;
    height: 35px;
    position: absolute;
    top: -10px;
    right: -1.4px;
    opacity: 0;
    z-index: 1000;
    cursor: pointer;
}
.Subir::after{
    content: "";
    width: 100%;
    height: 100%;
    background-image: url(../../svg/guardarfoto.svg);
    background-size: 30px;
    background-repeat: no-repeat;
    background-position: center;
    position: absolute;
    cursor: pointer;
    top: 0;
    right: 0;
}
/* .ActualizarDatos>form{
    display: grid;
    grid-template-columns: 49% 49%;
    grid-gap: 10px;
} */

.VerificarDatos{
    display: grid;
    padding-top: 20px;
    grid-template-columns: 100%; 
}
.VerificarDatos>div{
    text-align: center;
    display: flex;
    justify-content: flex-start;
    align-items: center;
}
.VerificarDatos>div>img{
    width: 80%;
    margin: 0 auto;
}
.VerificarDatos>form{
    grid-row-start: 2;
    grid-row-end: 3;
}

@media(min-width:512px){
    
    .Configuracion{
        width: 80%;
        position: relative;
        margin: 0 auto;
    }
    .ActualizarDatos{
        display: grid;
        grid-template-columns:50% 50%;
        align-items: center;    
    }
    .Foto1{
        height:  200px;
        width: 200px;
    }
    .Subir{
        bottom: 10px;
        right: 30px;
        height: 50px;
    }
    .Subir::after{
        background-size: 100%;
    }
    .VerificarDatos{
        display: grid;
        grid-template-columns: 60% 30%;
        align-items: center;
        justify-content: center;
    }
    .Foto2{
        grid-row-start: 1;
        grid-row-end: 2;
        grid-column-start: 2;       
        grid-row-end: 3;
    }
    .Foto2>img{
        width: 200px !important;
    }
}
@media(min-width:600px){
    .ActualizarDatos{
        display: grid;
        grid-template-columns:30% 70%;
    }
   
    .ActualizarDatos>form{
        display: grid;
        grid-template-columns: 50% 50%;
        grid-gap: 1vmin;
    }
    .ActualizarDatos>form>.CampoFormulario:nth-child(3){
        grid-row-start: 3;
        grid-column-start: 1;
        grid-column-end: 3;
    }
    .ActualizarDatos>form>input{
        grid-row-start: 6;
    }
}