.headerUser,.userActions,.headerUser>div{
    display:grid;
    background:white;
    grid-gap:1vmin;
}
.headerUser{
    grid-template-columns:repeat(2,1fr);
    border-radius:2vmin;
    border:2px solid rgba(128, 128, 128, 0.11);
    padding:1vmin 2vmin;
}
.headerUser>div>span{
    grid-column:auto / span 3;
    padding:1vmin;
}
.headerUser>div>img{
    margin:0 auto;
    border-radius:50%;
    width:20vmin;
    border:1px solid var(--active)
}
.headerUser>div:last-child>span{
    grid-column:auto / span 4;
}
.headerUser>div,.userActions{
    grid-template-columns:repeat(4,1fr);
}
@media(max-width:920px){
    .userActions{
        grid-template-columns:repeat(2,1fr);
    }
}
@media (max-width:720px){
    .headerUser{
        grid-template-columns:repeat(1,1fr);
    }
}