<<<<<<< HEAD
/*-------------------------------------
                Cabecera
---------------------------------------*/
header{
    
    background:linear-gradient(-90deg, #29d8db 0%, #01578c 54%);
    width: 100%;
    display: grid;
    grid-auto-columns: 50% 50%;
    grid-auto-flow: column;
    align-items: center;
    position: relative;
    padding: 50px 0 80px;
    overflow: hidden;
    background-blend-mode: hue;
}
header>div{
    width: 100%;
}
header>div>img{
    width: 80%;
}
header>div>h2{
    color: white;
    font-size: 25px;
    text-align: center;
    letter-spacing: 5px;
}
.CalculadoraContenedor{
    margin: 0 auto;
    width: 70%;
}

@media only screen and (max-width:1024px) {
    header{
        grid-auto-columns: 40% 60%;
    }
    header>div>h2{
    letter-spacing: 0px;
        line-height: 1.5;
        padding: 20px 0;
    }
}
@media (max-width:768px){
    header>div{
        display: none;
    }
    header{
        grid-auto-columns: 100%;
        margin-top:60px;
    }
}
@media(max-width:512px){
    .CalculadoraContenedor{
        margin: 0 auto;
        width: 96%;
    }
}
/*-------------------------------------
                Sobre Nosotros
---------------------------------------*/
.SobreNosotros{
    display: grid;
    grid-template-columns: 50% 50%;
    padding: 70px 50px 30px;
    align-items: center;
    justify-content: center;
}
.SobreNosotros>span{
    display: flex;
    justify-content: center;
    align-items: center;
}
.SobreNosotros>span>img{
    width: 50%;
    border-radius: 10px;
    margin: 0 auto;
}
.SobreNosotros>article>p,.SobreNosotros>article>h2{
    text-align: left;
}
.SobreNosotros>article>h2{
    line-height: 3.5;
}
.SobreNosotros>article>p{
   font-size: 18px;
    line-height: 1.5;
    font-weight: bolder;
}
.SobreNosotros>article>p:last-child{
    padding: 30px 0 100px;
}
.SobreNosotros>div{
    grid-column-start: 1;
    grid-column-end: 3;
    display: grid;
    grid-template-columns: 50% 50%;
    padding: 40px;
    align-items: center;
    border-radius: 10px;
    background-color: var(--ColorPrincipal);
    background-image: url(../../components/images/fondo-logo.jpg);
    background-blend-mode: soft-light;
    background-size: cover;
    background-repeat: no-repeat;
}
.SobreNosotros>div>p{
    color: white;
    font-size: 35px;
    font-weight: bolder;
    line-height: 1.1;
    text-align: left;
}

.SobreNosotros>div>a,.SobreNosotros>div>a>svg{
    background-color: #27bc6f;
    font-size: 20px;
    padding: 20px;
    text-align: center;
    height: auto;
    margin: 0 auto;
    fill:white;
    position: relative;
    font-weight: bold;
    transition: all 0.3s;
}
.SobreNosotros>div>a:hover,.SobreNosotros>div>a:hover>svg>path,.SobreNosotros>div>a:hover>svg{
    color: #27bc6f;
    fill: #27bc6f;
    background-color: white;
}
.SobreNosotros>div>a:hover>svg{
    fill: #27bc6f;
    
}
.SobreNosotros>div>a>svg>g{
    transition: all 0.3s;
}
.SobreNosotros>div>a>svg{
    stroke:white;
    background-color: transparent;
    
    padding: 0;
    width: 60px;
}
@media only screen and (max-width:1024px) {
    .SobreNosotros{
        grid-template-columns: 35% 65%;
        padding-left: 20px;
        padding-right: 20px;
    }
    .SobreNosotros>div{
        padding: 25px;
        margin: 15px 50px;
        grid-template-columns: 60% 40%;
    }
    .SobreNosotros>div>p{
        font-size: 20px;
    }
     .SobreNosotros>div>a{
        height: 100px;
         font-size: 18px;
    }
    .SobreNosotros>div>a>svg{
        width: 50px;
        margin: -10px;
    }
}
@media only screen and (max-width:768px){
   .SobreNosotros{
        grid-template-columns: 1;
       padding:30px 5px;
       
    }
    .SobreNosotros>span{
        grid-column-start: 1;
        grid-column-end: 3;
        text-align: center;
        
    }
    .SobreNosotros>span>img{
        width: 25%;
        
    }
    .SobreNosotros>article{
        grid-column-start: 1;
        grid-column-end: 3;
        padding: 0 25px;        
    }
 .SobreNosotros>article>p,.SobreNosotros>article>h2{
        text-align: center;
    }
    .SobreNosotros>article>p{
        line-height: 1.3;
    }
    .SobreNosotros>div{
    grid-column-start: 1;
    grid-column-end: 3;
    display: grid;
    padding: 10px;
    margin: 0 15px;
}
    .SobreNosotros>article>p:last-child{
   
   
    padding: 30px 0 40px;
}
}

/*-------------------------------------
                por que elegirnos
---------------------------------------*/
.PorQueElegirnos{
    background-image: url(../../components/images/background.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    background-blend-mode: multiply;
    text-align: center;
    margin: 0;
    padding: 60px 0;
}
.PorQueElegirnos>h1{
    width: 60%;
    margin: 0 auto;
}
.PorQueElegirnos>p{
    line-height: 5;
}
.PorQueElegirnos>article{
    display: grid;
    margin: 0 auto;
    text-align: center;
    grid-column-gap: 10px;
    justify-content: center;
    align-items: center;
    grid-template-columns: repeat(4, 250px);
}
.PorQueElegirnos>article>div{
    width: 200px;
    height: 215px;
    margin: 0 auto;
}
.PorQueElegirnos>article>div>img{
    width: 60%;
    padding-bottom: 15px;
}
@media only screen and (max-width:1024px) {
    
    .PorQueElegirnos>article{
       grid-template-columns: repeat(auto-fill, 180px);
        grid-row-gap: 50px;
    }
    .PorQueElegirnos>article>div{
    width: 120px;
        height: 150px;
    margin: 0 auto;
        
    }
    .PorQueElegirnos>article>div>p>span{
        font-size: 1.2vmin;
    }
}
@media only screen and (max-width:768px){
    .PorQueElegirnos>p{
        line-height: 2;
    }
     .PorQueElegirnos>article{
       grid-template-columns: 50% 50%;
        grid-row-gap: 10px;
    }
    .PorQueElegirnos>article>div{
    width: 160px;
        height: 165px;
    margin: 0 auto;
        font-size: 12px;
    }
    .PorQueElegirnos>article>div>p>span{
        font-size: 12px;
    }
}
/*-------------------------------------
        Cuentas de banco afiliados
---------------------------------------*/
.BancosAfiliados>article{
    display: grid;
    width: 90%;
    margin: 0 auto;
    text-align: center;
    justify-content: center;
    grid-template-columns: repeat(auto-fill, 350px);
    grid-gap: 5px;
}
.BancosAfiliados>article>div{
    height: 100%;
    text-align: center;
    justify-content: center;
    margin: 0 auto;
    align-items: center;
    display: flex;
}
@media only screen and (max-width:124px){
    .BancosAfiliados>article{
        grid-template-columns: 33.3% 33.3% 33.3%;
    }
}
.BancosAfiliados>article>div>img{
    width: 90%;
}
@media only screen and (max-width:720px){
    .BancosAfiliados>article{
        grid-template-columns: 50% 50%;
    }
}
/*-------------------------------------
                reseñas
---------------------------------------*/
#Resenas>div{
    width: 90%;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-column-gap: 25px;
    grid-row-gap: 15px;
    justify-content: center;
    align-items: center;
    margin: 0 auto;
    padding-bottom: 50px;
}
.Resenas{
    margin: 0 auto;
    width: 100%;
    border-radius: 10px;
    border: 2px solid #eaeaea;
    background: white;
    padding: 15px;
    box-shadow: 2px 2px 1px #eaeaea;
    display: flex;
    justify-content: center;
    align-items:center;
}
.Resenas{
    display: flex;
    flex-flow: column;
}
.Resenas>img{
    width: 120px;
    height: 120px;
    border-radius: 50%;
    border: 3px solid rgb(16, 108, 160,0.5);
}
.Resenas>.Resena>p{
    text-align: center;
    line-height: 1.5;
    width: 90%;
    margin: 0 auto;
    font-style: italic;
    font-weight: normal;
    font-size: 18px;
    padding: 20px 0;
    position: relative;
}

.Resena>span,.Resena>h3{
    text-align: left;
    text-transform: capitalize;
}
.Resena>span{
    color: #f0ad4e;
    font-size: 24px;
}
@media only screen and (max-width:508px){
    #Resenas>div{
    grid-template-columns:repeat(1, 1fr);
    grid-column-gap: 15px;
    }
}
/*-------------------------------------
                rastreador
---------------------------------------*/

.Rastreador{
    height: auto;
    background-image: url(../../components/images/background.jpg);
    background-size: cover;
    padding-bottom: 25px;;
    background-repeat: no-repeat;
    background-blend-mode: multiply;

}
.Rastreador>div{
    display: flex;
    flex-flow: column;
    justify-content: center;
    align-items: center;
}
.Buscador{
    width: 90%;
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
    align-items: center;
}
.Buscador>input{
    width: 100%;
    text-align: center;
    margin: 50px auto;
    height: 50px;
    background-color: #dddddde1;
    font-size: 18px;
}
.Rastreador>div>a{
    width: 150px;
    margin: 10px auto;
    text-align: center;
}
.ResultadoRastreador{
    width: 350px;
    border-radius: 10px;
    background-color: white;
    box-shadow: 0 0 2px grey;
    animation: entradaRes 1s ease;
}
@keyframes entradaRes{
    0%{
        opacity: 0;
        height: 0;
        overflow: hidden;
    }
    100%{
        opacity: 1;
        height: 150px;
    }
}
.ResultadoRastreador > h2 {
        background: #106ca0;
        border-top-left-radius: 10px;
        border-top-right-radius: 10px;
        color: #FFF;
        font-size: 26px;
        line-height: 1.5;
    }
    
    .ResultadoRastreador > p {
        width: 90%;
        padding: 10px 20px;
        text-align: left;
        color: #696969;
        text-transform: capitalize;
        line-height: 1.5;
    }
    @media only screen and (max-width:500px){
        .ResultadoRastreador{
            width:90%;
        }
    }


/*-------------------------------------
                footer
---------------------------------------*/

.Footer{
    height: 100px;  
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #3a3a3a;
    text-align: center;
}
.Footer>span>a{
    color: rgba(255, 255, 255, 0.56);
}
=======
/*-------------------------------------
                Cabecera
---------------------------------------*/
header{
    
    background:linear-gradient(-90deg, #29d8db 0%, #01578c 54%);
    width: 100%;
    display: grid;
    grid-auto-columns: 50% 50%;
    grid-auto-flow: column;
    align-items: center;
    position: relative;
    padding: 50px 0 80px;
    overflow: hidden;
    background-blend-mode: hue;
}
header>div{
    width: 100%;
}
header>div>img{
    width: 80%;
}
header>div>h2{
    color: white;
    font-size: 25px;
    text-align: center;
    letter-spacing: 5px;
}
.CalculadoraContenedor{
    margin: 0 auto;
    width: 70%;
}

@media only screen and (max-width:1024px) {
    header{
        grid-auto-columns: 40% 60%;
    }
    header>div>h2{
    letter-spacing: 0px;
        line-height: 1.5;
        padding: 20px 0;
    }
}
@media (max-width:768px){
    header>div{
        display: none;
    }
    header{
        grid-auto-columns: 100%;
        margin-top:60px;
    }
}
@media(max-width:512px){
    .CalculadoraContenedor{
        margin: 0 auto;
        width: 96%;
    }
}
/*-------------------------------------
                Sobre Nosotros
---------------------------------------*/
.SobreNosotros{
    display: grid;
    grid-template-columns: 50% 50%;
    padding: 70px 50px 30px;
    align-items: center;
}

.SobreNosotros>span>img{
    width: 50%;
    border-radius: 10px;
    margin-top: calc(50% - 50%);
}
.SobreNosotros>article>p,.SobreNosotros>article>h2{
    text-align: left;
}
.SobreNosotros>article>h2{
    line-height: 3.5;
}
.SobreNosotros>article>p{
   font-size: 18px;
    line-height: 1.5;
    font-weight: bolder;
}
.SobreNosotros>article>p:last-child{
    font-weight: normal;
    font-size: 15px;
    padding: 30px 0 100px;
}
.SobreNosotros>div{
    grid-column-start: 1;
    grid-column-end: 3;
    display: grid;
    grid-template-columns: 50% 50%;
    padding: 40px;
    align-items: center;
    border-radius: 10px;
    background-color: var(--ColorPrincipal);
    background-image: url(../../components/images/fondo-logo.jpg);
    background-blend-mode: soft-light;
    background-size: cover;
    background-repeat: no-repeat;
}
.SobreNosotros>div>p{
    color: white;
    font-size: 35px;
    font-weight: bolder;
    line-height: 1.1;
    text-align: left;
}

.SobreNosotros>div>a,.SobreNosotros>div>a>svg{
    background-color: #27bc6f;
    font-size: 20px;
    padding: 20px;
    text-align: center;
    height: auto;
    margin: 0 auto;
    fill:white;
    position: relative;
    font-weight: bold;
    transition: all 0.3s;
}
.SobreNosotros>div>a:hover,.SobreNosotros>div>a:hover>svg>path,.SobreNosotros>div>a:hover>svg{
    color: #27bc6f;
    fill: #27bc6f;
    background-color: white;
}
.SobreNosotros>div>a:hover>svg{
    fill: #27bc6f;
    
}
.SobreNosotros>div>a>svg>g{
    transition: all 0.3s;
}
.SobreNosotros>div>a>svg{
    stroke:white;
    background-color: transparent;
    
    padding: 0;
    width: 60px;
}
@media only screen and (max-width:1024px) {
    .SobreNosotros{
        grid-template-columns: 35% 65%;
        padding-left: 20px;
        padding-right: 20px;
    }
    .SobreNosotros>div{
        padding: 25px;
        margin: 15px 50px;
        grid-template-columns: 60% 40%;
    }
    .SobreNosotros>div>p{
        font-size: 20px;
    }
     .SobreNosotros>div>a{
        height: 100px;
         font-size: 18px;
    }
    .SobreNosotros>div>a>svg{
        width: 50px;
        margin: -10px;
    }
}
@media only screen and (max-width:768px){
   .SobreNosotros{
        grid-template-columns: 1;
       padding:30px 5px;
       
    }
    .SobreNosotros>span{
        grid-column-start: 1;
        grid-column-end: 3;
        text-align: center;
        
    }
    .SobreNosotros>span>img{
        width: 25%;
        
    }
    .SobreNosotros>article{
        grid-column-start: 1;
        grid-column-end: 3;
        padding: 0 25px;        
    }
 .SobreNosotros>article>p,.SobreNosotros>article>h2{
        text-align: center;
    }
    .SobreNosotros>article>p{
        line-height: 1.3;
    }
    .SobreNosotros>div{
    grid-column-start: 1;
    grid-column-end: 3;
    display: grid;
    padding: 10px;
    margin: 0 15px;
}
    .SobreNosotros>article>p:last-child{
    font-weight: normal;
    font-size: 15px;
    padding: 30px 0 40px;
}
}

/*-------------------------------------
                por que elegirnos
---------------------------------------*/
.PorQueElegirnos{
    background-image: url(../../components/images/background.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    background-blend-mode: multiply;
    text-align: center;
    margin: 0;
    padding: 60px 0;
}
.PorQueElegirnos>h1{
    width: 60%;
    margin: 0 auto;
}
.PorQueElegirnos>p{
    line-height: 5;
}
.PorQueElegirnos>article{
    display: grid;
    margin: 0 auto;
    text-align: center;
    grid-column-gap: 10px;
    justify-content: center;
    align-items: center;
    grid-template-columns: repeat(4, 250px);
}
.PorQueElegirnos>article>div{
    width: 200px;
    height: 215px;
    margin: 0 auto;
}
.PorQueElegirnos>article>div>img{
    width: 60%;
    padding-bottom: 15px;
}
@media only screen and (max-width:1024px) {
    
    .PorQueElegirnos>article{
       grid-template-columns: repeat(auto-fill, 180px);
        grid-row-gap: 50px;
    }
    .PorQueElegirnos>article>div{
    width: 120px;
        height: 150px;
    margin: 0 auto;
        
    }
    .PorQueElegirnos>article>div>p>span{
        font-size: 1.2vmin;
    }
}
@media only screen and (max-width:768px){
    .PorQueElegirnos>p{
        line-height: 2;
    }
     .PorQueElegirnos>article{
       grid-template-columns: 50% 50%;
        grid-row-gap: 10px;
    }
    .PorQueElegirnos>article>div{
    width: 150px;
        height: 165px;
    margin: 0 auto;
        font-size: 12px;
    }
    .PorQueElegirnos>article>div>p>span{
        font-size: 12px;
    }
}
/*-------------------------------------
        Cuentas de banco afiliados
---------------------------------------*/
.BancosAfiliados>article{
    display: grid;
    width: 90%;
    margin: 0 auto;
    text-align: center;
    justify-content: center;
    grid-template-columns: repeat(auto-fill, 350px);
    grid-gap: 5px;
}
.BancosAfiliados>article>div{
    height: 100%;
    text-align: center;
    justify-content: center;
    margin: 0 auto;
    align-items: center;
    display: flex;
}
@media only screen and (max-width:124px){
    .BancosAfiliados>article{
        grid-template-columns: 33.3% 33.3% 33.3%;
    }
}
.BancosAfiliados>article>div>img{
    width: 90%;
}
@media only screen and (max-width:720px){
    .BancosAfiliados>article{
        grid-template-columns: 50% 50%;
    }
}
/*-------------------------------------
                reseñas
---------------------------------------*/
#Resenas>div{
    width: 90%;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-column-gap: 25px;
    grid-row-gap: 15px;
    justify-content: center;
    align-items: center;
    margin: 0 auto;
}
.Resenas{
    margin: 0 auto;
    border-radius: 10px;
    border: 2px solid #eaeaea;
    background: white;
    padding: 15px;
    box-shadow: 2px 2px 1px #eaeaea;
    display: flex;
    justify-content: center;
    align-items:center;
}
.Resenas{
    display: flex;
    flex-flow: column;
}
.Resenas>img{
    width: 120px;
    margin: 20px 10px 0 0 ;
    height: 120px;
    border-radius: 50%;
    border: 3px solid rgb(16, 108, 160,0.5);
}
.Resena,.Resena>p{
    text-align: left;
    line-height: 1.5;
    font-weight: bold;
    padding: 10px 0;
}

.Resena>span,Resena,h3{
    text-align: left;
    text-transform: capitalize;
}
.Resena>span{
    color: #f0ad4e;
    font-size: 24px;
}
@media only screen and (max-width:768px){
    #Resenas>div{
    grid-template-columns:repeat(1, 310px);
    grid-column-gap: 15px;
    }
}
/*-------------------------------------
                rastreador
---------------------------------------*/

.Rastreador{
    height: auto;
    background-image: url(../../components/images/background.jpg);
    background-size: cover;
    padding-bottom: 25px;;
    background-repeat: no-repeat;
    background-blend-mode: multiply;

}
.Rastreador>div{
    display: flex;
    flex-flow: column;
    justify-content: center;
    align-items: center;
}
.Buscador{
    width: 90%;
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
    align-items: center;
}
.Buscador>input{
    width: 100%;
    text-align: center;
    margin: 50px auto;
    height: 50px;
    background-color: #dddddde1;
    font-size: 18px;
}
.Rastreador>div>a{
    width: 150px;
    margin: 10px auto;
    text-align: center;
}
.ResultadoRastreador{
    width: 350px;
    border-radius: 10px;
    background-color: white;
    box-shadow: 0 0 2px grey;
    animation: entradaRes 1s ease;
}
@keyframes entradaRes{
    0%{
        opacity: 0;
        height: 0;
        overflow: hidden;
    }
    100%{
        opacity: 1;
        height: 150px;
    }
}
.ResultadoRastreador > h2 {
        background: #106ca0;
        border-top-left-radius: 10px;
        border-top-right-radius: 10px;
        color: #FFF;
        font-size: 26px;
        line-height: 1.5;
    }
    
    .ResultadoRastreador > p {
        width: 90%;
        padding: 10px 20px;
        text-align: left;
        color: #696969;
        text-transform: capitalize;
        line-height: 1.5;
    }
    @media only screen and (max-width:500px){
        .ResultadoRastreador{
            width:90%;
        }
    }


/*-------------------------------------
                footer
---------------------------------------*/

.Footer{
    height: 100px;  
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #3a3a3a;
}
.Footer>span>a{
    color: rgba(255, 255, 255, 0.56);
}
>>>>>>> 4db5092d6467c836177423a26bfe47beb4295217
